$clr-blue-900: #242D44;
$clr-blue-800: #181F33;
$clr-blue-700: #434A59;

$clr-grey-900: #647198;

$clr-red-900: #D03F2F;

$clr-white-900: #fff;

:root {
    --clr-blue-900: $clr-blue-900:
    --clr-blue-800: $clr-blue-800;
    --clr-blue-700: $clr-blue-700;
    --clr-grey-900: $clr-grey-900;
    --clr-red-900: $clr-red-900;
    --clr-white-900: $clr-white-900;
}



