@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/league-spartan-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --clr-blue-900: #181F33;
  --clr-blue-800: #242D44;
  --clr-blue-700: #3A4663;
  --clr-blue-600: #434A59;

  --clr-grey-900:  #647198;

  --clr-red-900: #D03F2F;

  --clr-white-900: #fff;
}

main {
  background-color: var(--clr-blue-700);
  color: var(--clr-white-900);
  min-height: 100vh;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}

body {
  font-family: 'League Spartan';
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top__container {
  display: flex;
  justify-content: space-between;
}

.theme-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.theme-button-wrapper {
  display: flex;
  gap: 5px;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.533px;
}

.theme-wrapper > p {
  color: #FFF;
  text-align: center;
  font-family: League Spartan;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.output__container {
  color: #FFF;
  text-align: right;
  font-family: League Spartan;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.933px;
  background-color: var(--clr-blue-900);
  padding: 42px 32px 36px;
  margin-top: 30px;
}

.buttons__container {
  background-color: var(--clr-blue-700);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.numbers,
.operators,
.point {
  border-radius: 10px;
  background: #EAE3DC;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;
  padding: 13px;
  color: #434A59;
  text-align: center;
  font-family: League Spartan;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.667px;
}

button {
  cursor: pointer;
  border: none;
}


.delete,
.reset {
  border-radius: 10px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414E73 inset;
  color: #FFF;
  text-align: center;
  font-family: League Spartan;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  padding: 13px;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal {
  color: #FFF;
  text-align: center;
  font-family: League Spartan;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  padding: 13px 29px;
  border-radius: 10px;
  background: #D03F2F;
  box-shadow: 0px -4px 0px 0px #93261A inset;
  grid-column-start: 3;
  grid-column-end: 5;
}








